body{
    font-family: 'Klee One', cursive;
}
h1{
    font-size: 40px;
}
.name-highlight{
 color: indigo;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}