body{
    font-family: 'Klee One', cursive;
    margin: 0;
}
h1{
    font-size: 40px;
}
p{
   color: indigo;
    
}
.name-highlight{
 color: indigo;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 5px;
   
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    border: 1px red;
    height: 500px;
    padding-bottom: 40px;
}
#image{
    height: 400px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(216, 40, 143),  rgb(145, 61, 206), indigo) ;
    color: lawngreen;
    padding: 8px 8px;
    border-radius: 9px;
    font-weight: 700;
}
.last-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.exp{
    font-size: 30px;
    font-weight: 700;
    color: rgb(110, 170, 42);
    padding-left: 500px;
    border-radius: 10px;
    
}
.box-shadow{
  box-shadow: 10px 10px 40px rgb(102, 96, 88);
  border-radius: 10px;
  height: 50%;
} 
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px indigo;
}